html, body {
	font-family: Arial, Helvetica;
}

body {
	margin-top: 7cm;
}

.draft {
	background-position: center center;
	background-repeat: no-repeat;
}

.draft.es {
	background-image: url(../images/borrador.png);	
}

.draft.en {
	background-image: url(../images/draft.png);
}

table {
	width: 100%;
}
td {
	white-space: nowrap;
}

td.label {
	font-weight: bold;
}

.content {
	font-size: 16px;
}

.signature {
	img {
		max-height: 50px;
	}
	.radiologist {
		font-size: 12px;
		font-weight: bold;		
	}
	.technician {
		margin-top: 15px;
		font-size: 10px;
	}
	.date {
		font-size: 10px;
	}
}

.header-img {
	width: 725px;
	padding: 0;
	margin: 0;
}

.footer-img {
	width: 725px;
	padding: 0;
	margin: 0;
}


.header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.footer {
	position: fixed;
	left: 0px;
	right: 0px;
}

.page-number {
	position: absolute;
	top: -50px;
	right: 0px;
}